# application.yml
server:
  port: 8082

spring:
  application:
    name: reservation-service
  datasource:
    url: jdbc:h2:mem:reservationdb  # H2 pour tester rapidement
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

# On ajoutera Feign plus tard